<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
<meta charset="utf-8" />
<!-- Bootstrap CSS -->
<link type="text/css" rel="stylesheet" href="#" media="screen"
	data-th-href="@{/resources/css/bootstrap.min.css}" />
<!-- bootstrap theme -->
<link type="text/css" rel="stylesheet" href="#" media="screen"
	data-th-href="@{/resources/css/bootstrap-theme.css}" />
<!-- font icon -->
<link type="text/css" rel="stylesheet" href="#"
	data-th-href="@{/resources/css/elegant-icons-style.css}" />
<link type="text/css" rel="stylesheet" href="#"
	data-th-href="@{/resources/css/font-awesome.min.css}" />
<!-- Custom styles -->
<link type="text/css" rel="stylesheet" href="#" media="screen"
	data-th-href="@{/resources/css/style.css}" />
<link type="text/css" rel="stylesheet" href="#" media="screen"
	data-th-href="@{/resources/css/style-responsive.css}" />


<title data-th-text="#{whsSupplyScan}">Title</title>
</head>

<body ng-app="sampleApp" ng-controller="SupplyRetController">
	<section id="container">
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<div th:replace="fragments/sidebar :: sidebar">&nbsp;</div>


		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">

				<div class="row">
					<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-suitcase"></i> Retur Material</h3>
						<section class="panel">
							<div class="panel-body">
							<div class="col-lg-8">
								<span class="label label-primary" style="font-size: 1.0em;"
									data-th-text="${openPeriod}">OpenPeriod</span>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
                                      <label class="col-sm-6 control-label" style="text-align: right;">Lokasi Gudang</label>
                                      <div class="col-lg-6">
                                          <select class="form-control  input-sm col-md-9" id="whs" ng-model="selectedWhs" ng-options="var as var.namaGudang for var in whsList" ng-change="refreshDatalist()"></select>
                                      </div>
                                  </div>
							</div>
								<div class="bio-graph-heading">
									<div ng-show="successAlert" class="alert alert-success fade in">
										<button data-dismiss="alert" class="close close-sm"
											type="button">
											<i class="icon-remove"></i>
										</button>
										<strong>Well done!</strong> {{msg}}
									</div>
									<div ng-show="failAlert"
										class="alert alert-block alert-danger fade in">
										<button data-dismiss="alert" class="close close-sm"
											type="button">
											<i class="icon-remove"></i>
										</button>
										<strong>Error !!</strong> {{msg}}
									</div>
									<p>{{ clock  | date:'medium'}}</p>
									<label class="col-sm-2 control-label" for="txtKdBarcode">No
										Barcode</label>
									<form class="form-horizontal" role="form"
										ng-submit="loadBar(noBarcode)">
										<div class="col-sm-10">
											<input type="text" class="form-control" id="txtKdBarcode"
												ng-model="noBarcode" autofocus="autofocus"
												placeholder="Scan HERE !!" />
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-7">
						<section class="panel">
							<div class="panel-body">
								<h1 style="margin-top: 0px; !important">Detail Info</h1>
								<div class="bio-row-full">
									<p>
										<span>No barcode </span>: {{tagLpb.noReg }} 
									</p>
								</div>
								<div class="bio-row-full">
									<p>
										<span>Kode Barang </span>: {{tagLpb.kodeBrg }}
									</p>
								</div>
								<div class="bio-row-full">
									<p>
										<span>Nama Barang </span>: {{ tagLpb.nmBrg }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Model</span>: {{ tagLpb.model }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Group</span>: {{ tagLpb.nmGroup }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Kelompok</span>: {{ tagLpb.kelLap }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Site</span>: {{ tagLpb.kdSite }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Qty per pack </span>: {{ tagLpb.qty }} pcs
									</p>
								</div>
								
								<div class="bio-row">
									<p>
										<strong><span>Qty Ambil </span></strong>: {{ qtyAmbil }}
										pcs
									</p>
								</div>
								<div class="bio-row form-group">
									<p>
										<span>Qty Retur</span>: <input type="number" min="0"
											class="form-control col-lg-2" id="txtQty"
											ng-model="qtyRetur" placeholder="Qty Retur" />
									</p>
								</div>
								
								<div class="bio-row">
									<p>
										<span>Tgl Registrasi </span>: {{ tagLpb.tglReg }}
									</p>
								</div>
								<div class="bio-row">
									<p>
										<span>Status </span>: IN (Retur to Whs)
									</p>
								</div>
								<div class="bio-row">
									<button type="button" class="btn btn-primary" ng--click="updateData()">Update</button>
									<button type="button" class="btn btn-danger" ng-click="removeData()">Remove</button>
								</div>
							</div>
						</section>
					</div>

					<div class="col-lg-5">
						<section class="panel">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>No</th>
											<th>No Barcode</th>
											<th>Qty BPB</th>
											<th>Qty Retur</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
										<!--  	<tr data-th-each="supply : ${WhsSupplyScanEntities}">
																<td data-th-text="${supply.noBarcode}"></td>
																<td data-th-text="${supply.kdBrg}"></td>
																<td data-th-text="${supply.nmBrg}"></td>
																<td data-th-text="${supply.kdTrx}"></td>
															</tr>-->

										<tr ng-repeat="val in supplyList">
											<td width="5%" style="font-size: 12px;">{{$index + 1}}</td>
											<td width="30%" style="font-size: 12px;">{{val.noBarcode}}</td>
											<td width="10%" style="font-size: 12px;">{{val.qtyBpb}}</td>
											<td width="10%" style="font-size: 12px;">{{val.qtyRetur}}</td>
											<td width="10%" style="font-size: 12px;"><p ng-bind="val.tanggalTrx | date:'HH:mm:ss'"></p></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>

			</section>
		</section>
		<div ng-view=""></div>
	</section>

	<!-- javascripts -->
	<script src="../../resources/js/jquery.js"
		th:src="@{/resources/js/jquery.js}"></script>
	<script src="../../resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>

	<!-- nicescroll -->
	<script src="../../resources/js/jquery.scrollTo.min.js"
		th:src="@{/resources/js/jquery.scrollTo.min.js}"></script>
	<script src="../../resources/js/jquery.nicescroll.js"
		th:src="@{/resources/js/jquery.nicescroll.js}"></script>
	<!--custome script for all page-->
	<script src="../../resources/js/scripts.js"
		th:src="@{/resources/js/scripts.js}"></script>

	<!-- angular -->
	<script src="../../resources/js/lib/angular/angular.js"
		th:src="@{/resources/js/lib/angular/angular.js}"></script>
	<script src="../../resources/js/lib/controllers/supplyRetController.js"
		th:src="@{/resources/js/controllers/supplyRetController.js}"></script>

</body>
</html>
